body {
    font-family: "Roboto";
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border-radius: .5rem;
    border: none;
    padding: 1rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
}

.default {
    background-color: #E0E0E0;
    color: #3F3F3F;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.default:hover,
.default:focus {
    color: #3F3F3F;
    background-color: #AEAEAE;
    transition: 1s;
}

.variant-outline {
    color: #3D5AFE;
    background-color: #ffffff;
    border: 2px solid #3D5AFE;
}

.variant-outline:hover,
.variant-outline:focus {
    background-color: rgba(41, 98, 255, 0.1);
}

.variant-text {
    color: #3D5AFE;
    background-color: #ffffff;
}

.variant-text:hover,
.variant-text:focus {
    background-color: rgba(41, 98, 255, 0.1);
}

.disabled-shadow {
    color: #FFFFFF;
    background-color: #3D5AFE;
    box-shadow: none;
}

.disabled {
    background-color: #E0E0E0;
    color: #9E9E9E;
    cursor: auto;
}

.variant-text-disabled {
    background: none;
    color: #9E9E9E;
}